# This is a basic workflow that is manually triggered

name: CI on ubuntu

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-20.04"]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y build-essential clang-6.0 autoconf automake bison expect libevent-dev libmysqlclient-dev libpcre3-dev libpq-dev libsqlite3-dev libssl-dev libtool libz-dev telnet libgtest-dev libjemalloc-dev
        sudo apt remove libgcc-11-dev gcc-11
    - name: Cache Driver
      uses: actions/cache@v2
      id: cache
      with:
        path: build/
        key: ${{ hashFiles('.git/modules/driver/ORIG_HEAD') }}
    - name: Build Driver
      if: steps.cache.outputs.cache-hit != 'true'
      run: /build.sh
      shell: bash
    - name: Run Tests
      run: ./run-tests.sh
      shell: bash
