# This is a basic workflow that is manually triggered

name: CI on ubuntu

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-18.04"]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y build-essential bison libevent-dev libmysqlclient-dev libpcre3-dev libpq-dev libsqlite3-dev libssl-dev libz-dev libjemalloc-dev libicu-dev python3 python-pip
    - name: run-tests
      run: |
         ./run-tests.sh
      shell: bash
