name: Unit Tests on ubuntu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Packages
      run: |
        sudo apt update
        sudo apt install -y build-essential autoconf automake bison libmysqlclient-dev libpcre3-dev libpq-dev libsqlite3-dev libssl-dev libtool libz-dev telnet libgtest-dev libjemalloc-dev
      timeout-minutes: 5

    - name: Cache Driver
      uses: actions/cache@v4
      id: cache
      with:
        path: build
        key: ${{ hashFiles('**/driver/src') }}

    - name: Build Driver
      if: steps.cache.outputs.cache-hit != 'true'
      run: ./build.sh
      shell: bash
      timeout-minutes: 10

    - name: Replace Absolute Path with Relative Path
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: "/home/mud/game/lib"
        replace: "./lib"
        include: "lib/secure/etc/nightmare-residuum.config"

    - name: Disable external_port_2
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: "external_port_2"
        replace: "# external_port_2"
        include: "lib/secure/etc/nightmare-residuum.config"

    - name: Run Tests
      run: ./build/bin/driver lib/secure/etc/nightmare-residuum.config -ftest
      shell: bash
      timeout-minutes: 1